body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-family: 'Open Sans', sans-serif;
}

.container img{
    width: 220px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.container{
    width: 220px;
    height: 345px;
    border-radius: 8px;
    box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
    box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
}

.container-image{
    overflow: hidden;
}

.image-card{
    object-fit: cover;
    -webkit-transition:all .7s ease;
}

.image-card:hover{
    filter: brightness(60%);
    transform: (1.5);
    transform: scale(1.15);
}

.badge {
    background-color: rgb(227, 0, 129);
    position: absolute;
    margin-top: -50px;
    margin-left: 15px;
    border-radius: 20px;
    padding: 5px 2px; 
    color: white;
    
    height: 3%;
    width: 6%;

    text-transform: uppercase;
    font-size: 10px;
}

.heading-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.element1{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px 5px;
    font-size: 14px;
}

.element1 .points{
    font-weight: bolder;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 25px;
}

.element1 p{
    color: gray;
}

.element2{
    padding: 0 5px;
    margin-top: -40px;
    font-size: 13px;
}

.element3{
    color: gray;
    padding-left: 5px;
    margin-top: -20px;
    font-size: 12px;
    padding-top: 10px;
}