body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.container img{
    width: 220px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.container{
    width: 220px;
    height: 345px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
    box-shadow: -9px 9px 21px -4px rgba(0,0,0,0.75);
}

.badge{
    background-color: red;
    position: absolute;
    margin-top: -50px;
    margin-left: 15px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
}

.element1{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.element1 .points{
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 25px;
}

.element1 p{
    color: gray;
}

.element2{
    padding: 0 5px;
    margin-top: -40px;
}

.element3{
    color: gray;
    padding-left: 5px;
    margin-top: -10px;
    font-size: 12px;
}