body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Heebo", sans-serif;
  }
  
  /* Aqui esta centrado todo desde el main-container */
  .main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container img {
    width: 100%; /*le di 100% a width para que alcance todo el ancho del contedor*/
    height: 100%; /* le di 100% a height para que alcance todo el alto del contedor*/
    border-radius: 8px 8px 0 0; /*Le cambie el border a 8px*/
  
    position: relative;
    overflow: hidden;
  }
  
  .card-container {
    width: 220px;
    height: 345px;
    border-radius: 8px;
  
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .container-image {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .image-card {
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 5px 5px 0 0;
  }
  
  .image-card:hover {
    filter: brightness(60%);
    transform: (1.5);
    transform: scale(1.15);
  }
  
  .badge {
    /* Use display flex y justify-content para centrar los elementos del badge */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(227, 0, 129);
    position: absolute;
    margin-top: -50px;
    margin-left: 15px;
    border-radius: 15px;
    padding: 5px;
    color: white;
    height: 25px;
    width: 100px;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  /* le puse un padding para que se vean alineados con el badge y no esten pegados a la card */
  .body-card {
    padding: 0.7rem;
  }
  
  /* El contenedor del button y la hora */
  .hr-and-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    color: gray;
    font-size: 13px;
  }
  
  /* estilo del button */
  .btn {
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border-radius: 8px;
    width: 40px;
    height: 90%;
  }
  
  /* Hover del button */
  .btn:hover {
    background: gainsboro;
  }
  
  /* aqui ya esta estilizado todo el contenedor y los elementos dentro de el */
  .txt-draft {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .textArea {
    font-size: 13px;
  }
  
  .draft {
    color: gray;
    font-size: 12px;
  }
  